# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 672b419d556ea62f0eeee485e17caf2c1c7d4fcf9e70b14adc644b0c1d443e593d00307b376ae2917ccc144114e2cc5ffba47c474903137379bd08af2184219e

test:
  secret_key_base: a7d44a9106755a93aba43c49c8fffc697c618299c06a4ddd6cf9cea62b1f8c40270cb21a93688a48429c3fb0f426122f71175839f7c1d879baf18606e8ae942f

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
